*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}

body{
    margin-left: 30px;
    margin-right: 30px;
}

h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 8px;
    color: red;
}

.definicion{
    width: auto;
    margin: 0 60px 10px 60px;
}

ul{
    text-align: justify;
    padding-bottom: 6px;
    font-size: 19px;
}

.style-listas{
    padding-bottom: 3px;
    font-size: 19px;
}

.lista{
    margin-left: 60px;
    margin-right: 20px;
}

ol{
    padding-bottom: 5px;
}

a{
    text-decoration: none;
    font-weight: bold;
}

a:link{
    color: rgb(0, 117, 250);
    font-weight: bold;
}

a:visited{
    color: red;
    font-weight: bold;
}

.anclas{
    margin-left: 90px;
}

.style-titulos{
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
}

p{
    line-height: 1.5;
}

/* Etiquetas para entradas marcadas */
input:checked + label {
  color: red;
}

/* Elementos Option, cuando se seleccionan */
option:checked {
  box-shadow: 0 0 0 3px lime;
  color: red;
}

input:default {
    box-shadow: 0 0 2px 1px coral;
}
  
input:default + label {
    color: coral;
}

input {
    border: 1px solid grey;
    border-radius: 3px;
}
  
input:-webkit-autofill {
    border: 1px solid blue;
}

input:autofill {
    border: 1px solid blue;
}

.bigbox{
    display: flex;
    align-items: center;
    flex-direction: row; 
    flex-wrap: nowrap;
    height: 100%;
    gap: 5px;
}

.box {
    background: pink;
    height: 80px;
    width: 80px;
}
  
.box:empty {
    background: lime;
}
  
input:enabled {
    color: #2b2;
}
  
input:disabled {
    color: #aaa;
}
  
a.prueba:any-link {
    border: 1px solid blue;
    color: orange;
}
  
/* navegadores WebKit */
a.prueba:-webkit-any-link {
    border: 1px solid blue;
    color: orange;
}

input #prueba {
    border: 2px solid black;
    padding: 3px;
}
  
input #prueba:placeholder-shown {
    border-color: silver;
}

  
  